if ARCH_QEMU

config SYS_VENDOR
	default "emulation"

config SYS_BOARD
	default "qemu-arm"

config SYS_CONFIG_NAME
	default "qemu-arm"

choice
	prompt "QEMU ARM architecture"
	default TARGET_QEMU_ARM_64BIT

config TARGET_QEMU_ARM_32BIT
	bool "ARMv7-A, 32bit"
	select ARCH_SUPPORT_PSCI
	select BOARD_LATE_INIT
	select CPU_V7A
	select SYS_ARCH_TIMER

config TARGET_QEMU_ARM_64BIT
	bool "ARMv8, 64bit"
	select ARM64
	select BOARD_LATE_INIT

config TARGET_QEMU_ARM_64BIT_TPL
	bool "ARMv8, 64bit, with TPL"
	select ARM64
	select BOARD_LATE_INIT
	select SPL
	select TPL
	select SPL_LIBCOMMON_SUPPORT
	select TPL_LIBCOMMON_SUPPORT
	select SPL_LIBGENERIC_SUPPORT
	select TPL_LIBGENERIC_SUPPORT
	select SPL_OF_CONTROL
	select TPL_OF_CONTROL
	select SPL_DM
	select TPL_DM
	select BINMAN
	select SPL_SERIAL
	select TPL_SERIAL
	imply SPL_FRAMEWORK_BOARD_INIT_F
	imply RPL_FRAMEWORK_BOARD_INIT_F

endchoice

endif
