# SPDX-License-Identifier: GPL-2.0+

variables:
  DEFAULT_ALL_TAG: "all"
  DEFAULT_AMD64_TAG: "amd64"
  DEFAULT_FAST_TAG: "fast"
  MIRROR_DOCKER: docker.io
  SAGE_LAB: ""
  SJG_LAB: ""
  PLATFORM: linux/amd64,linux/arm64

default:
  tags:
    - ${DEFAULT_ALL_TAG}

workflow:
  rules:
    - when: always

# Grab our configured image.  The source for this is found
# in the u-boot tree at tools/docker/Dockerfile
image: ${MIRROR_DOCKER}/trini/u-boot-gitlab-ci-runner:noble-20251001-11Nov2025

# We run some tests in different order, to catch some failures quicker.
stages:
  - testsuites
  - sage-lab

.testsuites:
  stage: testsuites

check for new CONFIG symbols outside Kconfig:
  extends: .testsuites
  script:
    - git config --global --add safe.directory "${CI_PROJECT_DIR}"
    # If grep succeeds and finds a match the test fails as we should
    # have no matches.
    - git grep -E '^#[[:blank:]]*(define|undef)[[:blank:]]*CONFIG_'
        :^doc/ :^arch/arm/dts/ :^scripts/kconfig/lkc.h
        :^include/linux/kconfig.h :^tools/ :^dts/upstream/
        :^lib/mbedtls/external :^lib/mbedtls/mbedtls_def_config.h &&
        exit 1 || exit 0

# build documentation
docs:
  extends: .testsuites
  script:
    - python3 -m venv /tmp/venvhtml
    - . /tmp/venvhtml/bin/activate
    - pip install -r doc/sphinx/requirements.txt -r test/py/requirements.txt
    - make htmldocs KDOC_WERROR=1
    - make infodocs

# ensure all configs have MAINTAINERS entries
Check for configs without MAINTAINERS entry:
  extends: .testsuites
  script:
    - ./tools/buildman/buildman --maintainer-check

# Ensure host tools build
Build tools-only and envtools:
  extends: .testsuites
  script:
    - make tools-only_config tools-only -j$(nproc);
      make mrproper;
      make tools-only_config envtools -j$(nproc)

Run binman, buildman, dtoc, Kconfig and patman testsuites:
  extends: .testsuites
  tags:
    - ${DEFAULT_AMD64_TAG}
  script:
    - git config --global user.name "GitLab CI Runner";
      git config --global user.email trini@konsulko.com;
      git config --global --add safe.directory "${CI_PROJECT_DIR}";
      export USER=gitlab;
      python3 -m venv /tmp/venv;
      . /tmp/venv/bin/activate;
      pip install -r test/py/requirements.txt -r tools/binman/requirements.txt
        -r tools/buildman/requirements.txt -r tools/patman/requirements.txt
        -r tools/u_boot_pylib/requirements.txt;
      export UBOOT_TRAVIS_BUILD_DIR=/tmp/tools-only;
      export PYTHONPATH="${UBOOT_TRAVIS_BUILD_DIR}/scripts/dtc/pylibfdt";
      export PATH="${UBOOT_TRAVIS_BUILD_DIR}/scripts/dtc:${PATH}";
      set +e;
      ./tools/buildman/buildman -T0 -o ${UBOOT_TRAVIS_BUILD_DIR} -w
        --board tools-only;
      set -e;
      export TOOLPATH="--toolpath ${UBOOT_TRAVIS_BUILD_DIR}/tools --toolpath /opt/coreboot";
      ./tools/binman/binman ${TOOLPATH} tool -f missing;
      ./tools/binman/binman ${TOOLPATH} test;
      ./tools/binman/binman ${TOOLPATH} test -T;
      ./tools/buildman/buildman -t;
      ./tools/dtoc/dtoc -t;
      ./tools/patman/patman test;
      make testconfig

# Check for any pylint regressions
Run pylint:
  extends: .testsuites
  script:
    - git config --global --add safe.directory "${CI_PROJECT_DIR}"
    - python3 -m venv /tmp/venv
    - . /tmp/venv/bin/activate
    - pip install -r test/py/requirements.txt -r tools/binman/requirements.txt
        -r tools/buildman/requirements.txt -r tools/patman/requirements.txt
        -r tools/u_boot_pylib/requirements.txt asteval pylint==3.3.4 pyopenssl
    - export PATH=${PATH}:~/.local/bin
    - echo "[MASTER]" >> .pylintrc
    - echo "load-plugins=pylint.extensions.docparams" >> .pylintrc
    - export UBOOT_TRAVIS_BUILD_DIR=/tmp/tools-only
    - set +e
    - ./tools/buildman/buildman -T0 -o ${UBOOT_TRAVIS_BUILD_DIR} -w
        --board tools-only
    - set -e
    - pylint --version
    - export PYTHONPATH="${UBOOT_TRAVIS_BUILD_DIR}/scripts/dtc/pylibfdt"
    - make pylint_err

# Check we can package the Python tools
Check packing of Python tools:
  extends: .testsuites
  script:
    - make pip

# Add sage-lab stage
include: .gitlab-ci-sage-lab.yml
