# SPDX-License-Identifier: GPL-2.0+

variables:
  DEFAULT_ALL_TAG: "all"
  DEFAULT_AMD64_TAG: "amd64"
  DEFAULT_FAST_TAG: "fast"
  MIRROR_DOCKER: docker.io
  SAGE_LAB: ""
  SJG_LAB: ""
  PLATFORM: linux/amd64,linux/arm64

default:
  tags:
    - ${DEFAULT_ALL_TAG}

workflow:
  rules:
    - when: always

# Grab our configured image.  The source for this is found
# in the u-boot tree at tools/docker/Dockerfile
image: ${MIRROR_DOCKER}/trini/u-boot-gitlab-ci-runner:jammy-20251001-04Nov2025

# We run some tests in different order, to catch some failures quicker.
stages:
  - sage-lab

# Add sage-lab stage
include: .gitlab-ci-sage-lab.yml
