# SPDX-License-Identifier: GPL-2.0+
#
# (C) Copyright 2017
# Adam Ford, Logic PD, aford173@gmail.com

comment "Legacy MUSB Support"

config USB_OMAP3
	bool "Legacy MUSB OMAP3 / OMAP4"
	depends on ARCH_OMAP2PLUS
